<!doctype html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Upload an Image</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style_2.css') }}">
   </head>
   <body>
      <header>
         <nav>
            <a href="/">
               <div class="main-logo">
                  <img src="{{ url_for('static', filename='AppImages/logo_transparent.png') }}">
               </div>
            </a>
            <h2>Early Detection of Late Blight and Early Blight in Potatoes Using Machine Learning</h2>
         </nav>
      </header>
      <main>
         <section>
            <div class="image-upload">
               <img src="{{ url_for('static', filename='AppImages/sprout.png') }}" alt="">
               <form method="POST" action="/upload" enctype="multipart/form-data" class="img_form">
                  <input type="file" name="file", id="file", accept = ".jpg, .jpeg, .png, .webp">
                  <div class="line"></div>
                  <input type="submit" value="Upload" class="upl-btn">
               </form>
               <h1></h1>
            </div>
         </section>
      </main>
      
   </body>
   </html>